services:
  runner:
    build:
      context: .
      target: build
    volumes:
      - ./:/mnt/src:rw
      # An anonymous volume:
      # This keeps the current container contents of the directory and means it is
      # not overwritten by the contents of the mounted directory.
      - /mnt/src/node_modules
    ports:
      - "8080:8080"
    command: ["npm", "run", "start"]

  deploy:
    image: amazon/aws-cli
    volumes:
      - ./bin:/mnt/bin:ro
      - ./_site:/mnt/src:ro
    entrypoint: ""
    command: /mnt/bin/deploy
    environment:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_DEFAULT_REGION
      - S3_BUCKET
