#!/usr/bin/env ruby
require 'compass'
Compass.add_project_configuration 'compass.config'

route '/vendor/*' do
  # /static/foo.ext → /foo.ext
  item.identifier[7..-2] + '.' + item[:extension]
end
compile '/vendor/*' do; end


compile '/javascript/*/' do
  filter :minify
end
route '/javascript/*/' do
  item.identifier.chop + '.js'
end


compile '/stylesheets/[^_]*/' do
  filter :sass, Compass.sass_engine_options.merge(:syntax => :scss)
  filter :minify
end
route '/stylesheets/[^_]*/' do
  item.identifier.chop + '.css'
end
compile '/stylesheets/_*/' do; nil; end
route '/stylesheets/_*/' do; nil; end


route '/markup/' do
  "/index.html"
end
route '/markup/*/*/' do
  _, _, category, type, basename = item.identifier.split("/")

  raise "Error processing url for: #{@item.identifier}" if basename.nil?

  item[:category] = category.gsub('-',' ')
  item[:type]     = type
  "/post/#{basename}/index.html"
end
compile '/markup/*' do
  begin
    filter :r_code_fix
    filter :erb
    filter :rdiscount

    layout @item[:layout] || 'default'
  rescue Exception => e
    raise "Error processing : #{@item.identifier}\n#{e.message}"
  end
end


compile '/atom/' do
  filter :haml
end
route '/atom/' do
  '/atom.xml'
end

layout '*', :haml, :format => :html5
