@import '_global_settings';

.container {
  .make-row();
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}

.navigation {
  .make-row();
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}
