.widget {
  h3 {
    color: #999;
    font-size: 1.3em;
    margin-bottom: 12px;
  }
}

pre, blockquote {
  padding: 15px 15px 15px 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

pre {
  font-size: 12px;
  background-color: #262526;
}

blockquote {
  background-color: #EEE;
  font-style:italic;
}

.centred {
  img {
    display: block;
    margin: 0 auto;
  }
}
