body {
  color: #555;
}

#sidebar {
  width: 250px; }

.widget {
  h3 {
    color: #999;
    font-size: 1.3em;
    margin-bottom: 12px;
  }
}

pre, blockquote {
  padding: 15px 15px 15px 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

pre {
  padding-right: 0px;
  font-size: 12px;
  background-color: #262526;
}

blockquote {
  background-color: #EEE;
  font-style:italic;
}

.centred {
  img {
    display: block;
    margin: 0 auto;
  }
}

ol,ul {
  padding: 0px 0px 0px 40px;
}

ol {
  li {
    list-style: decimal;
  }
}

ul {
  li {
    list-style: disc;
  }
}

ul.links {
  padding-left: 0px;
  li {
    list-style: none;
    margin: 0px;
  }
  span {
    color: #999;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-size: 12px;
  }
  a {
    color: #555;
  }
}

