@import '_global_settings';

@nav-colour: #F8F8F8;

html, body {
  color: #444;
  height: 100%;
}

header {
  padding-bottom: 2em;

  .subheading {
    p {
      margin: 0 0 -0.5em;
    }
    font-size: @font-size-base;
    color: hsl(0, 0%, 45%);
    font-style: italic;
    font-family: 'Raleway', 'san-serif';
  }
}


strong {
  color: hsl(0, 0%, 15%);
  font-weight: 700;
}


.container {
  padding-bottom: 50px;
}

.navbar {
  background-color: @nav-colour;
  box-shadow: 0 0 2px grey;
  border-radius: 0px;
}

.footer {
  padding-top: 1em;
  padding-bottom: 2em;
  box-shadow: 0 0 3px 0 grey;
  background: @nav-colour;
  text-align: center;
}

.youtube {
  width: 00px;
  height: 500px;
}

h1 {
  font-weight: 100;
  font-family: 'Raleway', 'san-serif';
  letter-spacing: 0.02em;
  font-size: @font-size-h1 * 1.8;

  padding-top: 2em;

  a:hover {
    text-decoration: none;
  }
}

h2 {
  font-family: 'Raleway', 'san-serif';
  padding-top: 2em;
}

h3 {
  font-family: 'Raleway', 'san-serif';
  padding-top: 2em;
  padding-bottom: 1em;
}

p, ul {
  font-size: @font-size-base * 1.2;
  margin-bottom: 2em;
  line-height: 1.8;
  font-weight: 400;
  font-family: "Open Sans", "serif";

}

ul.index {
  li {
    list-style: none;
    a:visited {
     color:inherit;
    }
  }
}

.widget {
  h3 {
    color: #999;
    font-size: 1.3em;
    margin-bottom: 12px;
  }
}

pre, blockquote {
  padding: 15px 15px 15px 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

pre {
  font-size: 12px;
}

blockquote {
  background-color: #EEE;
  font-style:italic;
}

