@import '_global_settings';

body {
  color: #444;
}

footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #eee;
}

h1 {
  font-weight: 100;
  font-family: 'Raleway', 'san-serif';
  letter-spacing: 0.02em;
  font-size: @font-size-h1 * 1.6;

  padding-top: 2em;

  a:hover {
    text-decoration: none;
  } 
}

h2 {
  font-family: 'Raleway', 'san-serif';
  padding-top: 2em;
  padding-bottom: 1em;
}

p, ul {
  font-size: @font-size-base * 1.2;
  margin-bottom: 2em;
  line-height: 1.8;
  font-weight: 300;
  font-family: "Open Sans", "serif";

}

ul.index {
  li {
    list-style: none;
    a:visited {
     color:inherit;
    }
  }
}
