---
  layout: index
---

<h3>Tools</h3>
<ul class="posts">
  {% for post in site.categories.tools %}
  <li>
    <span>{{ post.date | date_to_string }}</span>
    &raquo; 
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<h3>Software</h3>
<ul class="posts">
  {% for post in site.categories.software %}
  <li>
    <span>{{ post.date | date_to_string }}</span>
    &raquo; 
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<h3>R Programming</h3>
<ul class="posts">
  {% for post in site.categories.r_programming %}
  <li>
    <span>{{ post.date | date_to_string }}</span>
    &raquo; 
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
