- sorted_categories.each do |category|
  %h4
    = category.capitalize
  %ul.links
    - articles_in_category(category).each do |article|
      %li
        %span
          = pretty_date(article)
        &raquo; &nbsp;
        %a{:href => article }
          = "#{article[:title]}"
