%nav{class: "navbar"}
  .navigation
    %ul{class: "nav nav-justified"}
      %li
        = link_to "Twitter", "http://twitter.com/bioinformatics"
      %li
        = link_to "Feed", "http://feeds.feedburner.com/BioinformaticsZen"
      %li
        = link_to "FAQ", "/faq"
      %li
        = link_to "About", "http://www.michaelbarton.me.uk"
