<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta content='width=device-width, initial-scale=1' name='viewport'>
		<link href='https://www.michaelbarton.me.uk' rel='author'>
		<link href='/css/styles.css' rel='stylesheet'>
		<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
		<script src='/js/all-5fcabbb4.js' defer></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML' defer></script>
		{% if image_card %}
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@bioinformatics" />
		<meta property="og:url" content="https://www.bioinformaticszen.com/{{page.url}}" />
		<meta property="og:title" content="{{title}}" />
		<meta property="og:description" content="{{description}}" />
		<meta name="twitter:image:src" content="{{image_card}}" />
		<meta property="og:image" content="{{image_card}}" />
		{% endif %}
		<title>Bioinformatics Zen{% if title %} | {{title}}{% endif %}</title>
	</head>

	<body>
		<nav class="site-nav">
			<a href="https://twitter.com/bioinformatics">twitter</a>
			<a href="/feed.xml">feed</a>
			<a href="http://www.michaelbarton.me.uk/">about</a>
		</nav>

		<div class='container'>
			<div class='site-title'>
				<h1>
					<a href='/'>Bioinformatics Zen</a>
				</h1>
				<p class='tagline'>A blog about bioinformatics and mindfulness by Michael Barton</p>
			</div>
			{{ content | safe }}
		</div>
	</body>
</html>
