{% comment %} Responsive image, see: https://www.w3schools.com/howto/howto_css_image_responsive.asp {% endcomment %}
<div class="centred {% if class %}{{class}}{% endif %}">
	<img src="{{ url }}" alt="{{ alt }}" width="{{ width | default: 480 }}px" class="responsive-image"/>
</div>
