<figure id='{{ anchor }}'>
	<img class='figure-img img-fluid rounded' src='{{ url }}'>
	<figcaption>
		<p><strong>{{ short_desc }}</strong>{% if long_desc %} {{ long_desc }} {% endif %}</p>
	</figcaption>
</figure>
