---
layout: default
---
<article>
	<header>
		<h2>
			{{ title }}
		</h2>
		<time pubdate datetime="{{page.date}}">
			{{ page.date | readableDate }}
		</time>
	</header>
	{{ content | safe }}
</article>
