---
---
- unless @item[:disable_comments]
  %section
    %h1
      = "Comments"
    #disqus_thread
    %script{ :type => "text/javascript", :src => "DISQUS_JS_URL" }
    %noscript
      %a{ :href => "DISQUS_THREAD_URL" }
        View the discussion thread.
    %a.dsq-brlink{ :href => "http://disqus.com" }
      blog comments powered by
      %span.logo-disqus
        Disqus
