- if @site.config[:site][:navigation]
  #sidebar
    .widget
      %h3 nav
      %ul
        - @site.config[:site][:navigation].each do |name,href|
          %li
            %a{:href => href}
              = name
