- if @site.config[:site][:navigation]
  .topbar
    .fill
      .container
        %ul.nav
          - @site.config[:site][:navigation].each do |name,href|
            %li
              %a{:href => href}
                = name
