---
---
%h3#entry-title
  %a{:href => relative_path_to(@item) }
    = @item[:title]
  - if item[:revised]
    %abbr
      = "&#183; Revised: " + Time.parse(item[:revised]).strftime('%b %d, %Y')
  - elsif item[:created_at]
    %abbr
      = "&#183; Posted: " + Time.parse(item[:created_at]).strftime('%b %d, %Y')
