// Constans --------------------------------------------------------------

$ratio: 1.61803399;

// Font Sizes --------------------------------------------------------------
$base-font-size: 16px;
$base-line-height: 24px;

$header-font-size: $base-font-size * $ratio;
$pre-font-size: $base-font-size;
$navigation-font-size: 10px;

// Rounded corners ---------------------------------------------------
$text-corner-radius: 6px;
$pre-corner-radius: 12px;

// Colors --------------------------------------------------------------
$base: #262526;
$alt: #F60A20;
$text: #8C8979;
$highlight: #404040;
$emph: white;
$pre: $base;

// Grid --------------------------------------------------------------
$total-cols: 24;
$col-width: 2em;
$gutter-width: 0.5em;
$side-gutter-width: $gutter-width;

// Don't move this @import above the GRID and FONT-SIZE variables.
@import "susy/susy";

// Fonts --------------------------------------------------------------
@mixin sans-family {
  font-family: Nobile, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: Vollkorn, Cambria, Georgia, serif;
}

@mixin monospace-family {
  font-family: "Droid Sans Mono", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}
