// Font Sizes --------------------------------------------------------------
$base-font-size: 16px;
$base-line-height: 24px;

// Grid --------------------------------------------------------------
$total-cols: 24;
$col-width: 2em;
$gutter-width: 0.5em;
$side-gutter-width: $gutter-width;

// Don't move this @import above the GRID and FONT-SIZE variables.
@import "susy/susy";

// Fonts --------------------------------------------------------------
@mixin sans-family {
  font-family: Nobile, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: Vollkorn, Cambria, Georgia, serif;
}

@mixin monospace-family {
  font-family: "Molengo", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}
