@import "prettify";
@import "man_page";

body {
  // Make container go all the way to the top
  padding-top: 40px;
}

.page-header {
  // Tweak header
  padding: 80px 20px 10px;
  margin: -20px -20px 20px;
}

.container {
  // 10 columns
  width: 580px;
}

pre {
  background-color: #262526;
}
