@import "prettify";

body {
  // Make container go all the way to the top
  padding-top: 40px;
}

.page-header {
  // Tweak header
  padding: 80px 20px 10px;
  margin: -20px -20px 20px;

  small{
    font-style:italic;
    color: grey;
  }
}

.container {
  // 9 columns
  width: 520px;
}

pre {
  background-color: #262526;
}

ul.posts {
  list-style: none;
  margin-left: 0px;
  span {
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-size: 12px;
  }
}
