@import "prettify";
@import "arielist";

body {
  color: #555;
}

#sidebar {
  width: 210px; }

.widget {
  h3 {
    color: #999;
    font-size: 1.3em;
    margin-bottom: 12px;
  }
}

pre {
  font-size: 12px;
  background-color: #262526;
  padding: 10px 0px 15px 15px;
}

code {
  background: #EEE;
  }

ul.posts {
  list-style: none;
  margin-left: 0px;
  span {
    color: #999;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    font-size: 12px;
  }
  a {
    color: #555;
  }
}
