%head
  %meta{charset: 'utf-8'}
  %meta{'http-equiv': "X-UA-Compatible", content: "IE=edge"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %link{href: "http://www.michaelbarton.me.uk", rel: "author" }

  %link{rel: "stylesheet", href: "/stylesheets/stylesheet.css" }
  %script{src: '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'}
  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
  %script{src: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"}
  %script{src: "/javascript/all.js"}

  %title
    = page_title
