name: CI for building site

on: [push]

env:
  TERM: xterm

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Build docker image
        run: make image

      - name: Check markdown formatting
        run: make fmt_check

      - name: Check site builds
        run: make build
