name: CI for building site

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"

      - run: npm ci

      - name: Check markdown formatting
        run: make fmt_check

      - name: Check site builds
        run: make build

      - name: Check content structure and images
        run: make content_check

      - name: Check for broken links
        run: make link_check
