name: Deploy Site

on:
  push:
    branches: [master] # run on pushes to master

env:
  TERM: xterm

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Build images
        run: |
          make image
          docker compose build deploy

      - name: Build site
        run: make _site

      - name: Deploy site
        env:
          S3_BUCKET: ${{ secrets.S3_BUCKET }}
        run: make deploy
